*{
    /* defining global variables */
    --light:#ffffff;
    --secondary: #b3b3b3;
    --dark:#3a3a3a;
    --deep-dark:#23272a;
}
.bg-light{
    background-color: var(--light);
    color:var(--deep-dark);
}
.bg-dark{
    background-color: var(--dark) !important;
    color:var(--light) !important;
}
.bg-deep-dark{
    background-color: var(--deep-dark);
    color:var(--light);
}
body{
    background-color: var(--dark);
    color: var(--light);
}

