.fade-in{
    animation:fadeIn 1s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.blink{
    opacity:0.2;
    animation: blink 2s linear infinite;
}

@keyframes blink{
    50%{
        opacity: 1;
        /* transform: scale(1.3); */
    }
}

.align-right{
    position: absolute;
    right: 0;
    top:0;
}
.align-left{
    position: absolute;
    left: 0;
    top:0;
}
.action-icon-selected{
    background:var(--bg-dark);
    color:var(--primary);
}
